<footer>
    <ul style="padding-left: 0; display: inline-flex; gap: 1rem; list-style: none;">
        <li>
            <a class="footer-link" href="https://bsky.app/profile/maxdraco.com"><i class="fab fa-bluesky"></i></a>
        </li>
        <li>
            <a class="footer-link" href="https://t.me/Max_Draco"><i class="fab fa-telegram"></i></a>
        </li>
        <li>
            <a class="footer-link" href="https://www.instagram.com/furry.max.draco/"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a class="footer-link" href="https://www.facebook.com/MaxDracoDragon/"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a class="footer-link" href="https://discord.gg/jCecwerpB9"><i class="fab fa-discord"></i></a>
        </li>
        <li>
            <a class="footer-link" href="https://ko-fi.com/maxdraco"><i class="fab fa-donate"></i></a>
        </li>
    </ul>

    <small class="d-block mt-3">© {{ now.Format "2006" }} Max Draco. All rights reserved.</small>
</footer>
